@media(min-width:0px) and (max-width:1399px){

}
@media(min-width:0px) and (max-width:1399px){

}
@media(min-width:0px) and (max-width:1100px){
    .banner-image img {
        width: 435px;

    }
    .banner-content h1{
        font-size: 40px;
    }
    .counter-bg {
        height: 100%;
        padding: 50px 0px;
        border-radius: 26px;
        border: 1px solid #9ED1FF;
        background: #FFF;
        box-shadow: 2px 2px 29px 0px rgba(0, 0, 0, 0.07);
    }
}
@media(min-width:0px) and (max-width:991px){
    .navbar-collapse {
        background: #035685;
        color: white;
        
        border-radius: 0px 0px 30px 30px;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
    }
    .navbar-nav .dropdown-menu {
        position: static;
        background: #035685;
        border: none;
    }
    .dropdown-menu ul li a:hover{
        color: white;
    }
    #navbarSupportedContent .nav-item a {
        color: white;
        text-align: center;
    }
    nav a .btn {
        color: white;
        margin-top: 10px;
    }
    nav a .btn-2:hover{
        color: white;
    }
    .banner-image img {
        width: 100%;
        height: 100%;
    }
    .banner-content h2{
        font-size: 25px;
    }
    .banner-content h1 {
        font-size: 30px;
    }
    .banner-button-part img {
        width: 80.679px;
        height: 80.679px;
    }
    .banner-content button {
        padding: 10px 20px;
        font-size: 16px;
    }
    .feature-content {
        width: 225px;
    }
    .feature-content img{
        width: 100px;
    }
    .join-community-image img {
        width: 300px;
        height: 250px;
    }
    .join-community-content h2 {
        font-size: 30px;
    }
    .join-community-content h2 span{
        font-size: 30px;
    }
    .join-community-content{
        padding: 0px 40px;
    }
    .join-community-content h2 {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .banner-button-part {
        margin-top: 20px;
    }
    .subscribe-form form {
        margin-left: 0px;
    }
    .course-category-row {
        margin: 26px 0px 73px 0px;
    }
    .other-benifit-headline h2 {
        font-size: 30px;
    }
    .other-benifit-headline h2 span{
        font-size: 30px;
    }
    .benifit-content {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .course-category-heading h3 {
        font-size: 30px;
    }
    .course-category-heading h3 span{
        font-size: 30px;
    }
    .course-bundle-heading h3 {
        font-size: 30px;
    }
    .course-bundle-heading h3 span{
        font-size: 30px;
    }
    .course-bundle-heading img {
        margin-bottom: 30px;
    }
    .training-partner-second-row{
        margin-top: 30px;
    }
}
@media(min-width:0px) and (max-width:575px){
    .course-category-row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .course-category-content {
        margin:10px auto 10px auto ;
    }
    .join-community-image {
        display: flex;
        justify-content: center;
    }
    .join-community-image img {
        width: 350px;
        height: 320px;
  
    }
    .counter-bg {
        height: 100%;
        padding: 50px 0px;
        border-radius: 26px;
        border: 1px solid #9ED1FF;
        background: #FFF;
        box-shadow: 2px 2px 29px 0px rgba(0, 0, 0, 0.07);
    }
    .footer-first-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }
    .footer-second-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }
    .footer-fourth-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }
}
@media(min-width:0px) and (max-width:557px){
    .banner-content h2 {
        font-size: 30px;
    }
    .banner-content h1 {
        font-size: 35px;
    }
    .banner-image img {
        width: 350px;
        height: 300px;

    }
    .subscribe-form form button {
        right: -30px;
      
    }
    .course-category-heading h3{
        font-size: 35px;
    }
    .course-category-heading h3 span{
        font-size: 35px;
    }
}
@media(min-width:0px) and (max-width:447px){
    .banner-button-part{
        flex-direction: column;
    }
    .banner-button-part h3 {
        margin: 0;
        margin-top: 30px;
    }
    .subscribe-form form button {
        position: unset;
        margin-top: 20px;
      
    }
    .subscribe-section {
        padding: 80px 20px;

    }

}
@media(min-width:0px) and (max-width:390px){
    .banner-content h2 {
        font-size: 25px;
    }
    .banner-content h1 {
        font-size: 30px;
    }
    .banner-image img {
        width: 300px;
        height: 300px;

    }
    .banner-button-part{
        flex-direction: column;
    }
    .banner-button-part h3 {
        margin: 0;
        margin-top: 30px;
    }
    .round-shape-for-other-benifit{
        width: 90px;
        height: 90px;
    }
    .round-shape-for-other-benifit img{
        width: 30px;
        height: 535px;
    }

    
}